<header>
  <a href="https://www.linkedin.com/in/alexei-solovei-b0a099123/" class="logo" target="_blank">Solovei Aleksei</a>

  <label for="toggle" class="toggle-menu">
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </label>
  <input type="checkbox" id="toggle">

  <nav>
    <ul>
      <li><a routerLink="/">
          <mat-icon>article</mat-icon>Shop
        </a></li>
      <li><a routerLink="/bookmarks">
          <mat-icon>stars</mat-icon>BookMarks
        </a></li>
    </ul>
  </nav>
</header>