<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle>{{product.group}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="product.url" alt="Photo">
    <mat-card-content></mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="updateMark(product.id, true)">Add to bookmarks</button>
    </mat-card-actions>
</mat-card>